
#app-root {

    width: 300px;
    height: 400px;
    padding: 2px;
    
    color: #000000;

    h1 {
        /* EMPACT */
        position: absolute;
        width: 282px;
        height: 63px;
        left: 73px;
        top: 29px;

        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 77px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }
    form {
        width:375px; 
        height:70px; 
        left:27px; 
        top:138px; 

        background-color:#7B1E1E; 
    }
}

// #learn {
//     width:375px; 
//     height:70px; 
//     left:27px; 
//     top:138px; 

//     background-color:#7B1E1E; 
// }
